package layout

templ Header() {
	<header class="bg-white dark:bg-slate-900">
		<div class="container mx-auto">
			<nav>
				<div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
					<span class="text-2xl font-bold">Clean DDD Full Stack Go PoC</span>
				</div>
			</nav>
		</div>
	</header>
}
