package layout

import "github.com/ntorga/clean-ddd-full-stack-go-poc/src/presentation/ui/component/util"

templ MainLayout(pageContent templ.Component) {
	<!DOCTYPE html>
	<html class="dark">
		<head>
			<title>Contacts</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind-compat.min.css"/>
			<script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js" integrity="sha256-RJMXreeIHpSVENthSZHhlcOgmcTHkcJNrOxV+fSipFI=" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" integrity="sha256-5Va7QwUhC/J6Qt62aqKNuki+mUiEAweeDKx6cP2qU7M=" crossorigin="anonymous"></script>
		</head>
		<body class="bg-gray-100 text-gray-900 dark:bg-slate-800 dark:text-white">
			@util.LoadingOverlay()
			@Header()
			<div class="main mt-10">
				@pageContent
			</div>
			@util.Toast()
		</body>
	</html>
}
